.item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #ddd;
}

.item .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.item .details .name {
  font-weight: bold;
  font-size: 16px;
}

.item .details .position {
  color: #aaa;
  font-size: 12px;
}

.item .btnGroup {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.item:hover {
  background-color: rgba(221, 221, 221, 0.219);
}